@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.item {
  display: flex;
  width: 100%;
  gap: 12px;
}

.info {
  @include flex-column;
  gap: 8px;
}

.wrapper {
  width: 64px;
  height: 64px;
  background-color: var(--color-grey-100);
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
  background-image: url('../../assets/image/imgNone.jpg');
}
